*.swp
*.pyc
.env/*
.ipynb_checkpoints
.DS_Store
test_model.pth
*.*p
data/**/*.png
data/**/*.jpg
/data/JAFFE
/datasets
/output
/vgg_face_model
/demo.py
/all_scalars.json
/landmark_detector.py
/models/OpenFacePytorch
/models/vgg_face_torch
